@{
  Layout = "_Layout";
}
<h1>Hair Salon</h1>
<h2>Welcome</h2>



<h4><a href="/stylist">Go to Stylists Page</a></h4>
<h4><a href="/client">Go to Clients Page</a></h4>
<h4><a href="/specialty">Go to Specialties Page</a></h4>
