@{
  Layout = "_Layout";
}
<h1>Hair Salon</h1>
<h2> Add New Specialty Info</h2>
<form action="/specialty/create" method="post">
  <label for="new-name">Specialty Name:</label>
  <input id="new-specialty" name="new-specialty" type="text">
    <button type="submit">Submit</button>
</form>
<h4><a href="/">Return to Home</a></h4>
