<h1>Hair Salon</h1>
<h2> Add New Stylist Info</h2>
<form action="/stylist/create" method="post">
  <label for="new-name">Stylist Name:</label>
  <input id="new-stylist" name="new-stylist" type="text">
  <label for="stylist-chair"></label>
  <select name="stylist-chair">
    <label for=""></label>
    <option value="" disabled selected>Select Chair</option>
    <option value="1">Chair 1</option>
    <option value="2">Chair 2</option>
    <option value="3">Chair 3</option>
    <option value="4">Chair 4</option>
    <option value="5">Chair 5</option>
    <option value="6">Chair 6</option>
    <option value="7">Chair 7</option>
    </select>
    <button type="submit">Submit</button>
</form>
